sab-project/config/behdad/accountservice/accountservice.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.account.behdad.bis.misc.com/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:ns1="com.misc.bis.behdad.service" name="AccountServiceImplService"
                  targetNamespace="http://service.account.behdad.bis.misc.com/">
    <wsdl:import location="accountservice-extra.xml" namespace="com.misc.bis.behdad.service">
    </wsdl:import>
    <wsdl:binding name="AccountServiceImplServiceSoapBinding" type="ns1:AccountService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getDestinationSideTransactions">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getDestinationSideTransactions">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getDestinationSideTransactionsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TransactionDoesNotBelongToAccount">
                <soap:fault name="TransactionDoesNotBelongToAccount" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="UnableToAuthenticateException">
                <soap:fault name="UnableToAuthenticateException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidCredentialException">
                <soap:fault name="InvalidCredentialException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="setAccountControlType">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="setAccountControlType">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="setAccountControlTypeResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="InvalidIdentifierTypeException">
                <soap:fault name="InvalidIdentifierTypeException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidIdentifierControlTypeException">
                <soap:fault name="InvalidIdentifierControlTypeException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidDateException">
                <soap:fault name="InvalidDateException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="UnableToAuthenticateException">
                <soap:fault name="UnableToAuthenticateException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidCredentialException">
                <soap:fault name="InvalidCredentialException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAccountBalance">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getAccountBalance">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getAccountBalanceResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UnableToAuthenticateException">
                <soap:fault name="UnableToAuthenticateException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidCredentialException">
                <soap:fault name="InvalidCredentialException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getPendingTransactions">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getPendingTransactions">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getPendingTransactionsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="PageSizeIsTooMuchException">
                <soap:fault name="PageSizeIsTooMuchException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="UnableToAuthenticateException">
                <soap:fault name="UnableToAuthenticateException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidCredentialException">
                <soap:fault name="InvalidCredentialException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getBankTransactionsDetails">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getBankTransactionsDetails">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getBankTransactionsDetailsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="InvalidDateException">
                <soap:fault name="InvalidDateException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="PageSizeIsTooMuchException">
                <soap:fault name="PageSizeIsTooMuchException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="UnableToAuthenticateException">
                <soap:fault name="UnableToAuthenticateException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidCredentialException">
                <soap:fault name="InvalidCredentialException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidTransactionException">
                <soap:fault name="InvalidTransactionException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAccountControlType">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getAccountControlType">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getAccountControlTypeResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="InvalidIdentifierTypeException">
                <soap:fault name="InvalidIdentifierTypeException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidDateException">
                <soap:fault name="InvalidDateException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="UnableToAuthenticateException">
                <soap:fault name="UnableToAuthenticateException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidCredentialException">
                <soap:fault name="InvalidCredentialException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="clearAccountControlType">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="clearAccountControlType">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="clearAccountControlTypeResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="InvalidIdentifierTypeException">
                <soap:fault name="InvalidIdentifierTypeException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="UnableToAuthenticateException">
                <soap:fault name="UnableToAuthenticateException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidCredentialException">
                <soap:fault name="InvalidCredentialException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAccountNumbers">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getAccountNumbers">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getAccountNumbersResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UnableToAuthenticateException">
                <soap:fault name="UnableToAuthenticateException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidCredentialException">
                <soap:fault name="InvalidCredentialException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getSourceSideTransactions">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getSourceSideTransactions">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getSourceSideTransactionsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TransactionDoesNotBelongToAccount">
                <soap:fault name="TransactionDoesNotBelongToAccount" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="UnableToAuthenticateException">
                <soap:fault name="UnableToAuthenticateException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidCredentialException">
                <soap:fault name="InvalidCredentialException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AccountServiceImplService">
        <wsdl:port binding="tns:AccountServiceImplServiceSoapBinding" name="AccountServiceImplPort">
            <soap:address location="https://10.0.227.51:8090/behdad/accountservice"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>