sab-project/config/behdad/accountservice/accountservice-extra.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="com.misc.bis.behdad.service" name="AccountService" targetNamespace="com.misc.bis.behdad.service">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="com.misc.bis.behdad.service" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="com.misc.bis.behdad.service">
  <xs:element name="clearAccountControlType" type="tns:clearAccountControlType"/>
  <xs:element name="clearAccountControlTypeResponse" type="tns:clearAccountControlTypeResponse"/>
  <xs:element name="getAccountBalance" type="tns:getAccountBalance"/>
  <xs:element name="getAccountBalanceResponse" type="tns:getAccountBalanceResponse"/>
  <xs:element name="getAccountControlType" type="tns:getAccountControlType"/>
  <xs:element name="getAccountControlTypeResponse" type="tns:getAccountControlTypeResponse"/>
  <xs:element name="getAccountNumbers" type="tns:getAccountNumbers"/>
  <xs:element name="getAccountNumbersResponse" type="tns:getAccountNumbersResponse"/>
  <xs:element name="getBankTransactionsDetails" type="tns:getBankTransactionsDetails"/>
  <xs:element name="getBankTransactionsDetailsResponse" type="tns:getBankTransactionsDetailsResponse"/>
  <xs:element name="getDestinationSideTransactions" type="tns:getDestinationSideTransactions"/>
  <xs:element name="getDestinationSideTransactionsResponse" type="tns:getDestinationSideTransactionsResponse"/>
  <xs:element name="getPendingTransactions" type="tns:getPendingTransactions"/>
  <xs:element name="getPendingTransactionsResponse" type="tns:getPendingTransactionsResponse"/>
  <xs:element name="getSourceSideTransactions" type="tns:getSourceSideTransactions"/>
  <xs:element name="getSourceSideTransactionsResponse" type="tns:getSourceSideTransactionsResponse"/>
  <xs:element name="setAccountControlType" type="tns:setAccountControlType"/>
  <xs:element name="setAccountControlTypeResponse" type="tns:setAccountControlTypeResponse"/>
  <xs:complexType name="getDestinationSideTransactions">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:credential"/>
      <xs:element minOccurs="0" name="accountNumber" type="xs:string"/>
      <xs:element name="transactionId" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="credential">
    <xs:sequence>
      <xs:element minOccurs="0" name="password" type="xs:string"/>
      <xs:element minOccurs="0" name="username" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getDestinationSideTransactionsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:accountTransactionInfo"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="accountTransactionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="accountNumber" type="xs:string"/>
      <xs:element minOccurs="0" name="amount" type="xs:decimal"/>
      <xs:element name="transactionId" type="xs:long"/>
      <xs:element minOccurs="0" name="transactionIdentifier" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="setAccountControlType">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:credential"/>
      <xs:element minOccurs="0" name="arg1" type="tns:accountControlCreateModel"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="accountControlCreateModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="accountNumber" type="xs:string"/>
      <xs:element minOccurs="0" name="controlType" type="xs:string"/>
      <xs:element minOccurs="0" name="identifierType" type="xs:string"/>
      <xs:element minOccurs="0" name="toDate" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="setAccountControlTypeResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="getAccountBalance">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:credential"/>
      <xs:element minOccurs="0" name="accountNumber" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAccountBalanceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:balanceInfo"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="balanceInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="credit" type="xs:decimal"/>
      <xs:element minOccurs="0" name="monetary" type="xs:decimal"/>
      <xs:element minOccurs="0" name="reportDate" type="xs:string"/>
      <xs:element minOccurs="0" name="systemBlock" type="xs:decimal"/>
      <xs:element minOccurs="0" name="userBlock" type="xs:decimal"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getPendingTransactions">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:credential"/>
      <xs:element minOccurs="0" name="accountNumber" type="xs:string"/>
      <xs:element minOccurs="0" name="arg2" type="tns:paging"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="paging">
    <xs:sequence>
      <xs:element minOccurs="0" name="pageNumber" type="xs:int"/>
      <xs:element minOccurs="0" name="recordCount" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getPendingTransactionsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:pagedData"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pagedData">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="currentPageData" nillable="true" type="xs:anyType"/>
      <xs:element minOccurs="0" name="pageIndex" type="xs:int"/>
      <xs:element minOccurs="0" name="pageSize" type="xs:int"/>
      <xs:element minOccurs="0" name="totalCount" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pendingTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" name="accountNumber" type="xs:string"/>
      <xs:element minOccurs="0" name="amount" type="xs:decimal"/>
      <xs:element minOccurs="0" name="iban" type="xs:string"/>
      <xs:element minOccurs="0" name="iin" type="xs:string"/>
      <xs:element minOccurs="0" name="notificationDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="paymentIdentifier" type="xs:string"/>
      <xs:element minOccurs="0" name="rrn" type="xs:string"/>
      <xs:element minOccurs="0" name="shaparakLocalTime" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="shaparakServerTime" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="traceNumber" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getBankTransactionsDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:credential"/>
      <xs:element minOccurs="0" name="arg1" type="tns:accountTransactionFilter"/>
      <xs:element minOccurs="0" name="arg2" type="tns:paging"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="accountTransactionFilter">
    <xs:sequence>
      <xs:element minOccurs="0" name="accountNumber" type="xs:string"/>
      <xs:element minOccurs="0" name="fromDateTime" type="xs:string"/>
      <xs:element minOccurs="0" name="paymentIdentifier" type="xs:string"/>
      <xs:element minOccurs="0" name="toDateTime" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getBankTransactionsDetailsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:pagedData"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="bankTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" name="accountNumber" type="xs:string"/>
      <xs:element minOccurs="0" name="amount" type="xs:decimal"/>
      <xs:element minOccurs="0" name="balance" type="xs:decimal"/>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element minOccurs="0" name="destinationAccountNumber" type="xs:string"/>
      <xs:element name="groupTransfer" type="xs:boolean"/>
      <xs:element minOccurs="0" name="sourceAccountNumber" type="xs:string"/>
      <xs:element minOccurs="0" name="transactionDate" type="xs:string"/>
      <xs:element minOccurs="0" name="transactionId" type="xs:long"/>
      <xs:element minOccurs="0" name="transactionIdentifier" type="xs:string"/>
      <xs:element minOccurs="0" name="transactionMediaSerial" type="xs:string"/>
      <xs:element minOccurs="0" name="transactionMediaType" type="xs:string"/>
      <xs:element minOccurs="0" name="transactionMethod" type="xs:string"/>
      <xs:element minOccurs="0" name="transactionStatusDate" type="xs:string"/>
      <xs:element minOccurs="0" name="transactionStatusTime" type="xs:string"/>
      <xs:element minOccurs="0" name="transactionStatusType" type="xs:string"/>
      <xs:element minOccurs="0" name="transactionTime" type="xs:string"/>
      <xs:element minOccurs="0" name="transactionType" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAccountControlType">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:credential"/>
      <xs:element minOccurs="0" name="accountNumber" type="xs:string"/>
      <xs:element minOccurs="0" name="identifierType" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAccountControlTypeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="clearAccountControlType">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:credential"/>
      <xs:element minOccurs="0" name="accountNumber" type="xs:string"/>
      <xs:element minOccurs="0" name="identifierType" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="clearAccountControlTypeResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="getAccountNumbers">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:credential"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAccountNumbersResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getSourceSideTransactions">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:credential"/>
      <xs:element minOccurs="0" name="accountNumber" type="xs:string"/>
      <xs:element name="transactionId" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getSourceSideTransactionsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:accountTransactionInfo"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InvalidCredentialException" type="tns:InvalidCredentialException"/>
  <xs:complexType name="InvalidCredentialException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UnableToAuthenticateException" type="tns:UnableToAuthenticateException"/>
  <xs:complexType name="UnableToAuthenticateException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransactionDoesNotBelongToAccount" type="tns:TransactionDoesNotBelongToAccount"/>
  <xs:complexType name="TransactionDoesNotBelongToAccount">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InvalidIdentifierControlTypeException" type="tns:InvalidIdentifierControlTypeException"/>
  <xs:complexType name="InvalidIdentifierControlTypeException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InvalidIdentifierTypeException" type="tns:InvalidIdentifierTypeException"/>
  <xs:complexType name="InvalidIdentifierTypeException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InvalidDateException" type="tns:InvalidDateException"/>
  <xs:complexType name="InvalidDateException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PageSizeIsTooMuchException" type="tns:PageSizeIsTooMuchException"/>
  <xs:complexType name="PageSizeIsTooMuchException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InvalidTransactionException" type="tns:InvalidTransactionException"/>
  <xs:complexType name="InvalidTransactionException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="InvalidCredentialException">
    <wsdl:part element="ns1:InvalidCredentialException" name="InvalidCredentialException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setAccountControlTypeResponse">
    <wsdl:part element="ns1:setAccountControlTypeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="InvalidTransactionException">
    <wsdl:part element="ns1:InvalidTransactionException" name="InvalidTransactionException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAccountBalance">
    <wsdl:part element="ns1:getAccountBalance" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAccountBalanceResponse">
    <wsdl:part element="ns1:getAccountBalanceResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="InvalidIdentifierControlTypeException">
    <wsdl:part element="ns1:InvalidIdentifierControlTypeException" name="InvalidIdentifierControlTypeException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="PageSizeIsTooMuchException">
    <wsdl:part element="ns1:PageSizeIsTooMuchException" name="PageSizeIsTooMuchException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAccountControlTypeResponse">
    <wsdl:part element="ns1:getAccountControlTypeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPendingTransactionsResponse">
    <wsdl:part element="ns1:getPendingTransactionsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UnableToAuthenticateException">
    <wsdl:part element="ns1:UnableToAuthenticateException" name="UnableToAuthenticateException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBankTransactionsDetailsResponse">
    <wsdl:part element="ns1:getBankTransactionsDetailsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDestinationSideTransactionsResponse">
    <wsdl:part element="ns1:getDestinationSideTransactionsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPendingTransactions">
    <wsdl:part element="ns1:getPendingTransactions" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="InvalidIdentifierTypeException">
    <wsdl:part element="ns1:InvalidIdentifierTypeException" name="InvalidIdentifierTypeException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSourceSideTransactionsResponse">
    <wsdl:part element="ns1:getSourceSideTransactionsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setAccountControlType">
    <wsdl:part element="ns1:setAccountControlType" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAccountNumbersResponse">
    <wsdl:part element="ns1:getAccountNumbersResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBankTransactionsDetails">
    <wsdl:part element="ns1:getBankTransactionsDetails" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="clearAccountControlTypeResponse">
    <wsdl:part element="ns1:clearAccountControlTypeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSourceSideTransactions">
    <wsdl:part element="ns1:getSourceSideTransactions" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDestinationSideTransactions">
    <wsdl:part element="ns1:getDestinationSideTransactions" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="TransactionDoesNotBelongToAccount">
    <wsdl:part element="ns1:TransactionDoesNotBelongToAccount" name="TransactionDoesNotBelongToAccount">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAccountControlType">
    <wsdl:part element="ns1:getAccountControlType" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="clearAccountControlType">
    <wsdl:part element="ns1:clearAccountControlType" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="InvalidDateException">
    <wsdl:part element="ns1:InvalidDateException" name="InvalidDateException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAccountNumbers">
    <wsdl:part element="ns1:getAccountNumbers" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AccountService">
    <wsdl:operation name="getDestinationSideTransactions">
      <wsdl:input message="ns1:getDestinationSideTransactions" name="getDestinationSideTransactions">
    </wsdl:input>
      <wsdl:output message="ns1:getDestinationSideTransactionsResponse" name="getDestinationSideTransactionsResponse">
    </wsdl:output>
      <wsdl:fault message="ns1:TransactionDoesNotBelongToAccount" name="TransactionDoesNotBelongToAccount">
    </wsdl:fault>
      <wsdl:fault message="ns1:UnableToAuthenticateException" name="UnableToAuthenticateException">
    </wsdl:fault>
      <wsdl:fault message="ns1:InvalidCredentialException" name="InvalidCredentialException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setAccountControlType">
      <wsdl:input message="ns1:setAccountControlType" name="setAccountControlType">
    </wsdl:input>
      <wsdl:output message="ns1:setAccountControlTypeResponse" name="setAccountControlTypeResponse">
    </wsdl:output>
      <wsdl:fault message="ns1:InvalidIdentifierTypeException" name="InvalidIdentifierTypeException">
    </wsdl:fault>
      <wsdl:fault message="ns1:InvalidIdentifierControlTypeException" name="InvalidIdentifierControlTypeException">
    </wsdl:fault>
      <wsdl:fault message="ns1:InvalidDateException" name="InvalidDateException">
    </wsdl:fault>
      <wsdl:fault message="ns1:UnableToAuthenticateException" name="UnableToAuthenticateException">
    </wsdl:fault>
      <wsdl:fault message="ns1:InvalidCredentialException" name="InvalidCredentialException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAccountBalance">
      <wsdl:input message="ns1:getAccountBalance" name="getAccountBalance">
    </wsdl:input>
      <wsdl:output message="ns1:getAccountBalanceResponse" name="getAccountBalanceResponse">
    </wsdl:output>
      <wsdl:fault message="ns1:UnableToAuthenticateException" name="UnableToAuthenticateException">
    </wsdl:fault>
      <wsdl:fault message="ns1:InvalidCredentialException" name="InvalidCredentialException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPendingTransactions">
      <wsdl:input message="ns1:getPendingTransactions" name="getPendingTransactions">
    </wsdl:input>
      <wsdl:output message="ns1:getPendingTransactionsResponse" name="getPendingTransactionsResponse">
    </wsdl:output>
      <wsdl:fault message="ns1:PageSizeIsTooMuchException" name="PageSizeIsTooMuchException">
    </wsdl:fault>
      <wsdl:fault message="ns1:UnableToAuthenticateException" name="UnableToAuthenticateException">
    </wsdl:fault>
      <wsdl:fault message="ns1:InvalidCredentialException" name="InvalidCredentialException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getBankTransactionsDetails">
      <wsdl:input message="ns1:getBankTransactionsDetails" name="getBankTransactionsDetails">
    </wsdl:input>
      <wsdl:output message="ns1:getBankTransactionsDetailsResponse" name="getBankTransactionsDetailsResponse">
    </wsdl:output>
      <wsdl:fault message="ns1:InvalidDateException" name="InvalidDateException">
    </wsdl:fault>
      <wsdl:fault message="ns1:PageSizeIsTooMuchException" name="PageSizeIsTooMuchException">
    </wsdl:fault>
      <wsdl:fault message="ns1:UnableToAuthenticateException" name="UnableToAuthenticateException">
    </wsdl:fault>
      <wsdl:fault message="ns1:InvalidCredentialException" name="InvalidCredentialException">
    </wsdl:fault>
      <wsdl:fault message="ns1:InvalidTransactionException" name="InvalidTransactionException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAccountControlType">
      <wsdl:input message="ns1:getAccountControlType" name="getAccountControlType">
    </wsdl:input>
      <wsdl:output message="ns1:getAccountControlTypeResponse" name="getAccountControlTypeResponse">
    </wsdl:output>
      <wsdl:fault message="ns1:InvalidIdentifierTypeException" name="InvalidIdentifierTypeException">
    </wsdl:fault>
      <wsdl:fault message="ns1:InvalidDateException" name="InvalidDateException">
    </wsdl:fault>
      <wsdl:fault message="ns1:UnableToAuthenticateException" name="UnableToAuthenticateException">
    </wsdl:fault>
      <wsdl:fault message="ns1:InvalidCredentialException" name="InvalidCredentialException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="clearAccountControlType">
      <wsdl:input message="ns1:clearAccountControlType" name="clearAccountControlType">
    </wsdl:input>
      <wsdl:output message="ns1:clearAccountControlTypeResponse" name="clearAccountControlTypeResponse">
    </wsdl:output>
      <wsdl:fault message="ns1:InvalidIdentifierTypeException" name="InvalidIdentifierTypeException">
    </wsdl:fault>
      <wsdl:fault message="ns1:UnableToAuthenticateException" name="UnableToAuthenticateException">
    </wsdl:fault>
      <wsdl:fault message="ns1:InvalidCredentialException" name="InvalidCredentialException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAccountNumbers">
      <wsdl:input message="ns1:getAccountNumbers" name="getAccountNumbers">
    </wsdl:input>
      <wsdl:output message="ns1:getAccountNumbersResponse" name="getAccountNumbersResponse">
    </wsdl:output>
      <wsdl:fault message="ns1:UnableToAuthenticateException" name="UnableToAuthenticateException">
    </wsdl:fault>
      <wsdl:fault message="ns1:InvalidCredentialException" name="InvalidCredentialException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSourceSideTransactions">
      <wsdl:input message="ns1:getSourceSideTransactions" name="getSourceSideTransactions">
    </wsdl:input>
      <wsdl:output message="ns1:getSourceSideTransactionsResponse" name="getSourceSideTransactionsResponse">
    </wsdl:output>
      <wsdl:fault message="ns1:TransactionDoesNotBelongToAccount" name="TransactionDoesNotBelongToAccount">
    </wsdl:fault>
      <wsdl:fault message="ns1:UnableToAuthenticateException" name="UnableToAuthenticateException">
    </wsdl:fault>
      <wsdl:fault message="ns1:InvalidCredentialException" name="InvalidCredentialException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>